body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../ImagesHtml/bois.jpg);
}

.logo{
    width: 90px;
    height: 90px;
    margin-left: 60px;
    margin-top: 10px;
}
#date_heure{
    font-size: 18px;
    font-family: arial black;
    color: black;
    max-width: 100px;
}

.heure {
    margin-top: 20px;
}

#second{
    padding-top:10%;
    margin-top: 40px;

}
.panel-heading {
    padding: 5px 15px;
    text-align: center;
}


.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

}

#marg{

    margin: -10px;
}

a {

    text-decoration: none;
    color: white;
    font-size: 20px;
}

a:hover
{
    text-decoration: none;
    color: darkblue;
}
#end {
    font-size: 22px;
    text-align: center;
    color: white;
}

#Nom{

    font-size: 39px;
    color: white;
    text-decoration: Fantaisy;
    font-family: cursive;
    margin-left: 29px;

}


.error{
    background-color:rgb(222, 226, 230);
    width: 150px;
    margin:auto ;
    border-radius: 5%;
}
.error p {
    color:black;
    text-align: center;
}